html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .main{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 16px;
    /* background-color: blanchedalmond; */
  }
  .main>header{
    text-align: center;
    /* padding-top: 40px;
    padding-bottom: 20px; */
  }
  /* #First{
    background-color: aquamarine;
  }
  .main{
    background-color: antiquewhite!important;
  } */
  .main>header img.logo{
    width: 150px;
    margin-top: 40px;
    margin-bottom: 20px;
  } 
  .main>nav{
    border-top: 2px solid #8a8000;
    border-bottom: 2px solid #8a8000;
    margin-bottom: 20px;
    /* background-color: aqua; */
  }
  .main>nav>ul{
    display: flex;
  }
  .main>nav>ul>li{

    /* 使用Display inline-block 排版 */
    /* display: inline-block;
    width: 30%;
    margin-right: -4px; */

    /* 使用Display flex 排版 */
    flex: 1;

    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 24px;
    font-weight: bolder;
  }
  .en_text{
    color: #8a8000;
  }
  .main>.content>img{
    width: 100%;
  }
  .main>nav>ul>li>.nav_item{
    text-decoration: none;
    color: #000;
    display: block;
    position: relative;
  }
  .main>nav>ul>li>.nav_item:hover{
    background-color: #dcdddd;
  }
  .main>nav>ul>li>.nav_item>.nav_child{
    background-color: #8a8000;
    width: 100%;
    display: none;
    position: absolute;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
  .main>nav>ul>li>.nav_item:hover .nav_child{
    display: block;
  }
  .main>nav>ul>li>.nav_item .nav_child>a{
    display: block;
    line-height: 20px;
    padding: 28px;
    color: #fff;
    text-decoration: none;
  }
  .main>nav>ul>li>.nav_item .nav_child>a:hover{
    background-color: #000; 
  }

  
  



/* shop的CSS */
  .main>.shop_content>.p_content{
    color: #585958;
    line-height: 20px;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: bold;
  }
  .shop_content>.item_wrap{
    border: 1px solid #8a8000;
    font-weight: bold;
  }
  .shop_content>.item_wrap>.item_row{
    /* background-color: antiquewhite; */
    display: flex;
    gap: 15px;
    padding: 15px;
    border-bottom: 1px solid #8a8000;
  }
  .shop_content>.item_wrap>.item_row:last-child{
    border-bottom: none;
  }
  .shop_content>.item_wrap>.item_row>.item_left{
    width: 20%;
  }
  .product_img{
    width: 100%;
  }
  .shop_content>.item_wrap>.item_row>.item_mid{
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* position: relative; */
  }
  .item_mid>h2{
    margin: 0;
    font-size: 22px;
    line-height: 25px;
  }
  .item_mid>span{
    margin-top: auto;
    margin-bottom: 10px;

    /* position: absolute;
    bottom: 10px; */
    color: #8a8000;
    font-weight: bold;
  }
  .shop_content>.item_wrap>.item_row>.item_right{
    width: 40%;
  }
  .shop_content>.item_wrap>.item_row>.item_right .item_title{
    border-bottom: 1px solid #8a8000;
    padding-bottom: 3px;
  }
  .shop_content>.item_wrap>.item_row>.item_right .item_child{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  /* .item_child>.item_child_right{
    margin-left: auto;    
  } */
  .price_txt{
    color: #8a8000;
    font-size: 16px;
    margin-bottom: 12px;
  }
  .game_txt{
    line-height: 20px;
    font-size: 14px;
  }
  .buy_btn{
    margin-left: 70px;
    text-decoration: none;
    background-color: #8a8000;
    color: #fff;
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: block;
    border-radius: 16px;
    font-size: 14px;
  }
  .buy_btn:hover{
    background-color: #000;
  }




  footer{
    background-color: #8a8000;
    margin-top: 30px;
      
  }



  /* footer對其方式1 */
  footer>.main{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    height: 135px; */
    color: #fff;
    font-weight: bolder;
  }

  /* footer對齊方式2 */
  /* footer>.main{
    display: flex;
    height: 135px;
    padding-top: 20px;
  }
  footer>.main>ul{
    flex: 1;
    display: flex;
    gap: 30px;
  } */

  /* footer對齊方式3 */
  footer>.main{
    display: flex;
    height: 135px;
    padding-top: 20px;
  }
  footer>.main>ul{
    flex: 1;
    display: flex;
    margin-right: auto;
    gap: 30px;
  }

  /* footer對齊方式4 */
  /* footer>.main{
    height: 135px;
    background-color: #8a8000;
  }
  footer>.main>ul{
    float: left;
  }
  footer>.main>div{
    float: right;
  } */


  footer>.main>ul>li a{
    color: #fff;
    text-decoration: none;
    padding-bottom: 4px;
  }
  footer>.main>ul>li a:hover{
    /* 01 */
    /* text-decoration: underline; */

    /* 02 */
    border-bottom: 1px solid #fff;
  }








  @media(max-width:992px){
    .main>nav>ul{
      flex-direction: column;
    }
    .main>nav>ul>li>.nav_item:hover .nav_child{
      display: none;
    }
    /* .main>nav>ul>li{
      width: 100%;
    } */
    .shop_content>.item_wrap>.item_row{
      flex-direction: column;
    }
    .shop_content>.item_wrap>.item_row>.item_left{
      width: 100%;
    }
    .shop_content>.item_wrap>.item_row>.item_mid{
      width: 100%;
    }
    .shop_content>.item_wrap>.item_row>.item_right{
      width: 100%;
    }
  }