<header uk-nav class="Z_ind sticky top-0 w-full flex bg-[#f6f6f6] justify-between items-center h-[70px] px-[20px] sm:px-[30px] md:px-[40px] lg:px-[55px] font-bold">
    <a class="flex items-center gap-[10px]" href="#">
      <img class="h-[32px]" src="img/logo-teaching.png" alt="">
      <div class="logo_text">線上開課工具!</div>
    </a>
    <nav class="uk-parent absolute bg-[#f6f6f6] top-[70px] w-full left-0 text-center lg:relative lg:top-0 lg:w-auto">
      <a class="absolute top-[-40px] right-[20px]" href="#"><img class="lg:hidden" src="img/icon_bars.svg" alt=""></a>
      <ul id="header_ui" uk-scrollspy-nav="closest: li; scroll: true" class="flex flex-col gap-[15px] lg:!flex lg:flex-row lg:gap-[40px]">
        <li><a class="hover:text-[#007cc1] duration-300 block justify-center py-[10px]" href="#scroll_1">線上開課工具</a></li>
        <li><a class="hover:text-[#007cc1] duration-300 block justify-center py-[10px]" href="#scroll_2">功能特色</a></li>
        <li><a class="hover:text-[#007cc1] duration-300 block justify-center py-[10px]" href="#scroll_3">方案費用</a></li>
        <li><a class="hover:text-[#007cc1] duration-300 block justify-center py-[10px]" href="#scroll_4">客戶案例</a></li>
        <li><a class="hover:text-[#007cc1] duration-300 block justify-center py-[10px]" href="#scroll_5">關於我們</a></li>
        <li><a class="hover:text-[#007cc1] duration-300 block justify-center py-[10px]" href="#scroll_6">藍猴首頁</a></li>
      </ul>
    </nav>
    <a class="hidden lg:block text-[#333] tracking-[0.2em] border-2 border-[#f7b157] rounded-full px-[20px] py-[10px] hover:bg-gradient-to-br from-[#f6d365] to-[#fda085] duration-500 hover:text-[#fff]" href="#">
      FREE! 免費開通試用
    </a>
  </header>