@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;500&display=swap');
@font-face {
	font-family: 'AbelRegular';
    src: url('fonts/abel-regular-webfont.eot');
    src: url('fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/abel-regular-webfont.woff') format('woff'),  url('fonts/abel-regular-webfont.ttf') format('truetype'),  url('fonts/abel-regular-webfont.svg#AbelRegular') format('svg');
}

.logo_text{
    border: 1px solid #727272;
    font-size: 15px;
    font-weight: bold;
    color: #727272;
    padding: 2px 8px;
    background-color: #fff;
    &:hover{
        background-color: burlywood;
        color: #fff;
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

        @keyframes pulse {
            0%, 100% {
              background-color: pink;
            }
            30% {
                background-color: orange;
            }
            50% {
              background-color: green;
            }
            80% {
                background-color: aqua;
            }
          }
    }
}

.uk-link-toggle:hover .uk-link, .uk-link:hover, a:hover {
    text-decoration: none;
}

body{
    font-family: 'Noto Sans TC','Microsoft JhengHei', sans-serif;
    font-weight: 700;
}

.txtJL{
    font-family: "AbelRegular" , sans-serif;
    font-weight: normal;
}


.uk-offcanvas-bar{
    background-color: #f6f6f6;
    a{
        color: #000;
        &:hover{
            color: #727272;
        }
    }
}

#header_ui .uk-active a{
    color: #1b96e1;
}

.plan_btn{
    background-color: rgb(255, 221, 61);
    padding: 0.5rem 6rem;
    border-radius: 100px;
    border: 4px solid #fff;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.5em;
    position: relative;
    &:hover{
        background-color: #ffec7f;
        color: #000;
        border: 4px solid #ffec7f;
        animation: none;
    }
    &::before{
        content: "→";
        position: absolute;
        right: 0;
        top: 6px;
        transition-duration: 200ms;
    }
    &:hover::before{
        right: 10px;
        transition-duration: 200ms;
    }
}
.Z_ind{
    z-index: 99 !important;
}



.yellow_line{
    display: inline-block;
    position: relative;
    z-index: 0;
    &::before{
        content: "";
        width: 100%;
        height: 10px;
        background-color: #ffee5a;
        display: block;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
    
}

.zoom{
    overflow: hidden;
    position: relative;
    transform: scale(1.005, 1.005);
    .inner{
      transition: transform .42s cubic-bezier(.15,.46,.57,1);
      &::before {
        content: "";
        transition: opacity .42s cubic-bezier(.15,.46,.57,1);
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.25);
      }
    }
    &:hover .inner{
      transform: scale(1.08, 1.08);
      &::before{
        opacity: 1;
      }
    }
  }

.input_group{
    position: relative;
    &.phone::before{
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: 0;
        top: 10px;
        background-image: url(https://cdn-icons-png.flaticon.com/512/159/159832.png);
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
    }
    input{
        background-color: #f6f8fb;
        border: 1px solid #000;
        width: 100%;
        padding: 10px 24px;
        font-size: 20px;
        font-weight: bold;
        &:focus{
            outline: none;
            border: 1px solid #1b96e1;
            background-color: white;
            box-shadow: 0 0 0 1.5px #1b96e1;
            animation: ease-out;
            transition-duration: 300ms;
        }
    }
    
}

textarea{
    background-color: #f6f8fb;
        border: 1px solid #000;
        width: 100%;
        padding: 10px 24px;
        font-size: 20px;
        font-weight: bold;
        &:focus{
            outline: none;
            border: 1px solid #1b96e1;
            background-color: white;
            box-shadow: 0 0 0 1.5px #1b96e1;
            animation: ease-out;
            transition-duration: 300ms;
        }
}

.input_choose{
    input{
        display: none;
    }
    label{
        font-size: 22px;
        padding: 10px 13px;
        cursor: pointer;
        &:hover{
            background-color: #f5f8fc;
            border-radius: 30px;
            animation: ease-in;
            transition-duration: 200ms;
        }
        &::before{
            content: "";
            display: inline-block;
            width: 23px;
            height: 23px;
            background-color: #fff;
            border-radius: 100%;
            border: 2px solid #777;
            vertical-align: middle;
            margin-right: 5px;
            position: relative;
            top: -3px;
        }
    }
    input:checked + label{
        background-color: #efefef;
        border-radius: 30px;
        &::before{
            border: 7px solid #1b96e1;
            animation: ease-out;
            transition-duration: 300ms;
        }
        
    }
}






@media (min-width: 1024px){
    #offcanvas-flip{
        display: block;
        position: static;
        .uk-offcanvas-bar{
            position: static;
            background: transparent;
            width: auto;
            padding: 0;
            .uk-offcanvas-close{
                display: none;
            }
            a{
                color: #000;
            }
        }
    }

}